In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.

ans=
A database is an organized collection of structured information, or data, typically stored electronically in a computer system.
A database is usually controlled by a database management system (DBMS).
    
SQL:-
    
    SQL, which stands for “Structured Query Language,” is the programming language that’s been widely used in managing data in relational database management systems (RDBMS) since the 1970s. 
    In the early years, when storage was expensive, SQL databases focused on reducing data duplication.
    SQL is still widely used for querying relational databases, where data is stored in rows and tables that are linked in various ways.
    One table record may link to one other or to many others, or many table records may be related to many records in another table. These relational databases, which offer fast data storage and recovery, can handle great amounts of data and complex SQL queries.
    
NO SQL:-
    
    NoSQL is a non-relational database, meaning it allows different structures than a SQL database (not rows and columns) and more flexibility to use a format that best fits the data.
    The term “NoSQL” was not coined until the early 2000s. 
    It doesn’t mean the systems don’t use SQL, as NoSQL databases do sometimes support some SQL commands. More accurately, “NoSQL” is sometimes defined as “not only SQL.”

In [ ]:
Q2. What is DDL?Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an exam
ANS:-
    Data Definition Language(DDL) is a type of SQL command used to define the components of databases using Database Management Systems.
    DDL in DBMS is used to create or modify the database objects like tables, views etc.
    These commands deal with defining a schema and adding a table description to it.
    
    CREATE:-  A Table is combination of rows and columns.
              For creating table we have to define the structure of table by adding name to columns, providing data type and size of data to be stored in columns. 
              Syntax: CREATE table table_name ( Column1 datatype (size), column2 datatype (size), . .
                                               
              EXAMPLE:-  CREATE TABLE Subject
                    (
                          Sub_ID INT, 
                          Sub_Name varchar(20)
                     );   
     
                                               
     DROP:-   DROP is used to delete a whole database or just a table.
             The DROP statement destroys the objects like an existing database, table, index, or view.                                       
                                               
             EXAMPLE:-                                  
                          DROP TABLE table_name;
                          table_name: Name of the table to be deleted.
                                               
     TRUNCATE:- TRUNCATE statement is a Data Definition Language (DDL) operation that is used to mark the extents of a table for deallocation (empty for reuse). 
                 The result of this operation quickly removes all data from a table, typically bypassing a number of integrity enforcing mechanisms.
                 It was officially introduced in the SQL:2008 standard.                                          
                           
                 Example:-   TRUNCATE TABLE  table_name;
                             table_name: Name of the table to be truncated.
                             DATABASE name - student_data                              
     
    ALTER:-   ALTER TABLE is used to add, delete/drop or modify columns in the existing table. 
             It is also used to add and drop various constraints on the existing table.                                       
                                               
             EXAMPLE:-
                                               
              ALTER TABLE table_name
              ADD (Columnname_1  datatype,
              Columnname_2  datatype,
              Columnname_n  datatype);

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

ANS:-  The DML commands in Structured Query Language change the data present in the SQL database.
       We can easily access, store, modify, update and delete the existing records from the database using DML commands.
        
        INSERT:- This command is used to enter the information or values into a row.
                 We can connect one or more records to a single table within a repository using this instruction. 
                 This is often used to connect an unused tag to the documents.
                    
                EXAMPLE:=      
                    INSERT INTO students ('stu_id' int, 'stu_name' varchar(20), 'city' varchar(20)) VALUES ('1', 'Nirmit', 'Gorakhpur'); 
          
        UPDATE:-  This command is used to alter existing table records. 
                  Within a table, it modifies data from one or more records. This command is used to alter the data which is already present in a table.
                 
                    EXAMPLE:-
                        
                        UPDATE students
                             SET due_fees = 20000
                             WHERE stu_name = 'Mini'; 
      
    
    DELETE:-  
          It deletes all archives from a table. This command is used to erase some or all of the previous table’s records. If we do not specify the ‘WHERE’ condition then all the rows would be erased or deleted.

             DELETE FROM students
                WHERE stu_id = '001';

In [ ]:
What is DQL? Explain SELECT with an example.
ANS:-
    Data query language (DQL) is part of the base grouping of SQL sub-languages.
    DQL statements are used for performing queries on the data within schema objects.
    The purpose of DQL commands is to get the schema relation based on the query passed to it.
     
SELECT:-        
    The SELECT statement is the most commonly used command in Structured Query Language.
    It is used to access the records from one or more database tables and views.
    It also retrieves the selected data that follow the conditions we want.
    
    EXAMPLE:-
        
        SELECT Column_Name_1, Column_Name_2, ....., Column_Name_N FROM Table_Name;

In [ ]:
Q5. Explain Primary Key and Foreign Key.
ANS:-
Primary Key
   
    A primary key constraint depicts a key comprising one or more columns that will help uniquely identify every tuple/record in a table.

Properties 

1. No duplicate values are allowed, i.e. Column assigned as primary key should have UNIQUE values only.
2. NO NULL values are present in column with Primary key. Hence there is Mandatory value in column having Primary key.
3. Only one primary key per table exist although Primary key may have multiple columns.
4. No new row can be inserted with the already existing primary key.
5. Classified as : a) Simple primary key that has a Single column 2) Composite primary key has Multiple column.
6. Defined in Create table / Alter table statement.

FORGEIN KEY:-
    Foreign Key is a column that refers to the primary key/unique key of other table.
    So it demonstrates relationship between tables and act as cross reference among them. Table in which foreign key is defined is called Foreign table/Referencing table.
    
    Properties :

1. Parent that is being referenced has to be unique/Primary Key.
2. Child may have duplicates and nulls.
3. Parent record can be deleted if no child exists.
4. Master table cannot be updated if child exists.
5. Must reference PRIMARY KEY in primary table.
6. Foreign key column and constraint column should have matching data types.
7. Records cannot be inserted in child table if corresponding record in master table do not exist.
8. Records of master table cannot be deleted if corresponding records in child table exits.

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
ANS:-

import mysql.connector
mydb = mysql.connector.connect(
    host = "localhost",
    user = "yourusername",
    password = "your_password"
)
print(mydb)

cursor():-
         A cursor in SQL Server is a database object that allows us to retrieve each row at a time and manipulate its data.
         A cursor is nothing more than a pointer to a row. 

            
execute():-The EXEC command is used to execute a stored procedure, or a SQL string passed to it.
           You can also use full command EXECUTE which is the same as EXEC.

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.